{% extends "manage_layout.html" %}

{% block manage_content %}
    {% include "fragments/appearance_identity.html" %}

    <hr style="border: none; border-top: 1px solid var(--border-color); margin: 25px 0;">

    {% include "fragments/appearance_avatar.html" %}

    <hr style="border: none; border-top: 1px solid var(--border-color); margin: 25px 0;">

    {% include "fragments/appearance_theme.html" %}

    <hr style="border: none; border-top: 1px solid var(--border-color); margin: 25px 0;">

    {% include "fragments/manage_integrations_form.html" %}

    <hr style="border: none; border-top: 1px solid var(--border-color); margin: 25px 0;">

    {% include "fragments/appearance_meeting.html" %}
{% endblock %}
